.Nav__Body{
    background-color: rgb(0, 158, 231);
    height: 5vh;
}
.Nav__Login{
    height: 25vh;
    width: 20vw;
}
@media (max-width: 965px) {
    .Nav__Login{
        height: 50vh;
        width: 90vw;
    }
  }